<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find the crop</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='findthecrop.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="site-header invert-color">
      <div class="container">
        <div class="site-header-inner">
          <div class="brand">
            <h1 class="m-0">
              <a href="{{ url_for('index')}}"
                ><img
                  src="{{ url_for('static', filename='maxcrop.svg') }}"
                  alt="CROPVISOR"
                  width="32"
                  height="32"
              /></a>
            </h1>
          </div>
          <button
            id="header-nav-toggle"
            class="header-nav-toggle"
            aria-controls="primary-menu"
            aria-expanded="false"
          >
            <span class="screen-reader">Menu</span>
            <span class="hamburger"><span class="hamburger-inner"></span></span>
          </button>
          <nav id="header-nav" class="header-nav">
            <div class="header-nav-inner">
              <ul class="list-reset text-xs header-nav-right">
                <li><a href="{{ url_for('index')}}">Homepage</a></li>
              </ul>
              <ul class="list-reset header-nav-right">
                <li>
                  <a
                    class="button button-primary button-wide-mobile button-wide-mobile button-sm"
                    href="{{ url_for('trynow')}}"
                    >Try now!</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="main-wrapper">
      <div class="bg"></div>
      <div class="form-wrapper crop-finder-form">
        <form action="{{ url_for('predict')}}" method="POST">
          <div class="inputs-row row justify-between">
            <div class="input-item col">
              <label for="date">Month</label>
              <input type="text" placeholder="eg 1, 2" name="month" id="date" />
            </div>
            <div class="input-item col">
              <label for="location">Location</label>
              <div class="location-wrapper">
                <input
                  type="text"
                  id="location"
                  placeholder="e.g. Qerret, Lushnje"
                  autocomplete="off"
                />
                <div class="location-suggestions active"></div>
              </div>
            </div>
            <input type="hidden" name="latitude" id="loc_lat" />
            <input type="hidden" name="longitude" id="loc_lon" />
          </div>

          <div class="button-wrapper inputs-row row justify-end">
            <button type="submit" value="Submit" class="btn btn-long">
              Reveal Crops
            </button>
          </div>
        </form>
      </div>
    </div>
    <footer class="site-footer center-content-mobile invert-color">
      <div class="container">
        <div class="site-footer-inner">
          <div class="footer-top space-between text-xxs">
            <div class="brand">
              <a href="{{ url_for('index')}}"
                ><img
                  src="{{ url_for('static', filename='maxcrop.svg') }}"
                  alt="CROPVISOR"
                  width="32"
                  height="32"
              /></a>
            </div>
            <div class="footer-social">
              <ul class="list-reset">
                <li>
                  <a href="#"
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>Facebook</title>
                      <path
                        d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
                      />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#"
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>Twitter</title>
                      <path
                        d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z"
                      />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#"
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>Instagram</title>
                      <g>
                        <circle cx="12.145" cy="3.892" r="1" />
                        <path
                          d="M8 12c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm0-6c-1.103 0-2 .897-2 2s.897 2 2 2 2-.897 2-2-.897-2-2-2z"
                        />
                        <path
                          d="M12 16H4c-2.056 0-4-1.944-4-4V4c0-2.056 1.944-4 4-4h8c2.056 0 4 1.944 4 4v8c0 2.056-1.944 4-4 4zM4 2c-.935 0-2 1.065-2 2v8c0 .953 1.047 2 2 2h8c.935 0 2-1.065 2-2V4c0-.935-1.065-2-2-2H4z"
                        />
                      </g>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="footer-bottom space-between text-xxs invert-order-desktop"
          >
            <nav class="footer-nav">
              <ul class="list-reset">
                <li><a href="{{ url_for('index')}}">Homepage</a></li>
              </ul>
            </nav>
            <div class="footer-copyright">
              &copy; 2024 CROPVISOR, all rights reserved
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
